
#site{
width:900px;
height:700px;
background-color: black;
margin:auto;/*centralizado*/
}
#banner{
  width:900px;
  height:200px;
  background-color: rgb(83, 6, 12);
}
#principal{
  width:900px;
  height: 430px;
  background-color:rgb(39, 2, 4);
  border: solid aliceblue;
  
}
#menu{
  width: 900px;
  height: 55px;
  background-color: rgb(0, 0, 0);
  text-align: center;
  border: solid aliceblue;
}
#rodape{
   width: 900px;
   height: 25px;
   background-color: rgb(101, 7, 14);
   text-align: center;
   color:rgb(255, 255, 255);
   border: solid aliceblue;
   
 
}
.tamanhoImagem{
   width: 295px;
   height: 377px;
}
.tabelaPersonagem{
width: 900px;
height: 400px;
}
.ladoEsquerdo{
width:500px;
}
.ladoDireito{
width:500px;
}
.fundo{
  background-image: url(../imagens/backgroundregular.png);
}