       body{
		position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
		width: fit-content;
		height: fit-content;
		padding:15px;
		align-items: normal;
		background-image: url(/Imagens/biblioteca.jpg);
		background-size: cover;
	   }

	   #areaGeralFormCompleto{
		border-radius: 10px;
		margin-top: 10px;
		background-color:aliceblue;
		padding:10px;
		font-family: 'Courier New', Courier, monospace;
		border-style: hidden;
		width: 600px;
		background-blend-mode: color-burn;


		
	   }
	   .centralizaObjeto{
		text-align: center;
		margin-top:20px;
 
	   }

	   #caixaResposta{
		margin-top: 15px;
		background-color: aliceblue;
		background-blend-mode: darken;
		border-radius: 10px;
		text-align: center;
		font-family: 'Courier New', Courier, monospace;
		text-align: justify;
		text-align: left;
		align-items: center;
		align-items: baseline;
	   }
	   
	  


	   
	   